/vendor
/_ss_environment.php
*.lnk
/.solr
/behat.log
/public/assets
/silverstripe-cache
/public/google*.html
/public/BingSiteAuth.xml
/.lucene
/themes/starter/.sass-cache
/themes/starter/compass-compile.log
/fulltextsearch-localsolr
/start-selenium-server.bat
/artifacts
/nbproject
*.log
/testSessionStubCode.php
/TESTS_RUNNING.json
/themes/starter/node_modules
/themes/starter/sass-compile.log
/themes/starter/npm-debug.log
/.env
/public/resources/
/public/_resources/
/themes/simple/
/app/node_modules
/app/npm-debug.log
/app/javascript/*.js.map
/app/javascript/*/*.js.map
*.bat
*.exe
/public/assets_backup
/.env.example
/themes/starter/node_modules
/.vscode
