div.menuwrapper {
  position: relative;
  z-index: 30;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
  background-color: #000000;
  height: 50px;
  padding-top: 14px;
  padding-bottom: 8px;
}

div.menuwrapper .menu-close {
  display: none;
  padding: 0;
}

.menuwrapper > * {
  float: right;
  padding-right: 5em;
}

div.menuwrapper .menu-close button {
  float: right;
  background: transparent;
  width: 45px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

div.menuwrapper .menu-close .close .fas {
  font-size: 24px;
  color: #ffffff;
}

ul.menu-bar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.menu-bar li {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}

ul.menu-bar a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  line-height: 42px;
  padding: 0 13px;
}

ul.menu-bar a span {
  display: block;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #151515;
  text-transform: uppercase;
  line-height: 39px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

ul.menu-bar li:hover a,
ul.menu-bar a:hover,
ul.menu-bar a:active,
ul.menu-bar a.current {
  background: #00b9ff;
  text-decoration: none;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

ul.menu-bar li:hover a span,
ul.menu-bar a:hover span,
ul.menu-bar a:active span,
ul.menu-bar a.current span {
  color: #ffffff;
}

ul.menu-bar li + li {
  margin-left: 6px;
}

ul.menu-bar li .open-child {
  background: transparent;
  display: none;
  padding: 0;
  border: 0;
  cursor: pointer;
}

/** SECOND LEVEL MENUS **/
ul.menu-bar li:hover ul,
ul.menu-bar li a:hover ul {
  display: block;
  position: absolute;
  left: 0;
  top: 38px;
  height: auto;
  margin: 0;
  color: #000000;
  z-index: 5;
}

ul.menu-bar li ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  width: 274px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

ul.menu-bar li ul li {
  float: none;
  position: relative;
  margin: 0;
  padding: 0;
}

ul.menu-bar li a:hover ul a,
ul.menu-bar li:hover ul a {
  display: block;
  background: transparent;
  font-size: 16px;
  color: #151515;
  text-decoration: none;
  text-transform: none;
  line-height: 28px;
  padding: 4px 13px;
  border-radius: 0;
  border-radius: 0;
}

ul.menu-bar li ul li:hover a,
ul.menu-bar li:hover ul a:focus,
ul.menu-bar li:hover ul a:active,
ul.menu-bar li:hover ul a:hover {
  background: #00b9ff;
  color: #ffffff;
}

ul.menu-bar li ul a.current {
  color: #00b9ff;
}

/** THIRD LEVEL MENUS **/
ul.menu-bar li:hover ul li ul,
ul.menu-bar li a:hover ul li a ul {
  display: none;
}

ul.menu-bar li:hover ul li:hover ul,
ul.menu-bar li a:hover ul li a:hover ul {
  background: #ffffff;
  display: block;
  position: absolute;
  top: 0;
  left: 274px;
  color: #151515;
  width: 274px;
}

ul.menu-bar li:hover ul li:hover ul li a {
  background: transparent;
  color: #151515;
  line-height: 28px;
  padding: 4px 13px;
}

ul.menu-bar li:hover ul li:hover ul li a:hover,
ul.menu-bar li a:hover ul li a:hover ul li a:hover {
  background: #00b9ff;
  color: #ffffff;
}

ul.menu-bar li ul li ul a.current {
  color: #00b9ff !important;
}

ul.menu-bar li ul li ul li:hover a.current,
ul.menu-bar li ul a.current:focus,
ul.menu-bar li ul a.current:hover,
ul.menu-bar li ul a.current:active {
  color: #ffffff !important;
}

#mobile-menu-trigger {
  display: none;
}

.menuContainer {
  display: none;
  position: absolute;
  z-index: 5;
  -webkit-box-pack: end;
          justify-content: end;
  padding: 1em;
  font-size: 24px;
  color: #ffffff;
  line-height: 52px;
  right: 0;
  width: 85%;
  height: 4em;
}

/**** Anything less than 1065px - tablet view ****/
@media only screen and (max-width: 1064px) {
  html.menu-open,
html.menu-open body {
    position: relative;
    overflow: hidden;
    touch-action: none;
  }

  /**** menu ****/
  #mobile-menu-trigger {
    display: -webkit-box;
    display: flex;
    position: relative;
    z-index: 5;
    font-size: 24px;
    color: #ffffff;
  }

  #mobile-menu-trigger .fas {
    font-size: 24px;
  }

  div.menuwrapper {
    background: #5c5c5c;
    position: fixed;
    top: 0;
    right: -320px;
    left: auto;
    width: 320px;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: right 0.3s ease-in-out 0s;
    transition: right 0.3s ease-in-out 0s;
    -webkit-overflow-scrolling: touch;
    z-index: 5000;
  }

  div.menuwrapper .menu-close {
    display: block;
  }

  ul.menu-bar {
    border-bottom: 1px solid #494949;
  }

  ul.menu-bar a.current {
    background: transparent;
    color: #ffffff;
  }

  ul.menu-bar a,
ul.menu-bar li:hover a span,
ul.menu-bar a:hover span,
ul.menu-bar a:active span,
ul.menu-bar li ul li ul li:hover a.current,
ul.menu-bar li ul a.current:focus,
ul.menu-bar li ul a.current:hover,
ul.menu-bar li ul a.current:active {
    color: #ffffff !important;
  }

  ul.menu-bar li,
ul.menu-bar li + li {
    float: none;
    position: relative;
    margin: 0;
  }

  ul.menu-bar li + li {
    border-top: 1px solid #494949;
  }

  ul.menu-bar li.separator {
    display: none;
  }

  ul.menu-bar li.show-only-mobile {
    display: list-item;
  }

  ul.menu-bar > li:nth-child(2) ul {
    margin-left: 0;
  }

  ul.menu-bar a {
    padding: 0 22px;
  }

  ul.menu-bar a span {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-transform: none;
    line-height: 50px;
  }

  ul.menu-bar li.contact-link a span {
    font-weight: 700;
  }

  ul.menu-bar > li:hover > a,
ul.menu-bar > a:hover,
ul.menu-bar > a:active,
ul.menu-bar > a.current {
    background: #595959;
  }

  ul.menu-bar li .open-child {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 50px;
    border-left: 1px solid #494949;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
    z-index: 5;
  }

  ul.menu-bar li .open-child .fas {
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
  }

  /**** second level menus ****/
  ul.menu-bar li:hover ul,
ul.menu-bar li:hover ul,
ul.menu-bar li:hover ul li:hover ul,
ul.menu-bar li a:hover ul li a:hover ul {
    display: none;
  }

  ul.menu-bar li ul {
    background: transparent;
    min-width: 0;
    border: 0;
    padding: 0;
    box-shadow: none !important;
  }

  ul.menu-bar li ul,
ul.menu-bar li:hover ul,
ul.menu-bar li ul li ul,
ul.menu-bar li ul li:hover ul,
ul.menu-bar li:hover ul li:hover ul,
ul.menu-bar li a:hover ul li a:hover ul {
    background: #454545;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 0;
    max-width: none;
  }

  ul.menu-bar li ul li > a:hover,
ul.menu-bar li ul li > a:active,
ul.menu-bar li ul li > a:focus,
ul.menu-bar li ul li:hover > a,
ul.menu-bar li:hover ul a:hover,
ul.menu-bar li:hover ul li:hover ul li a:hover {
    background: #00b9ff;
  }

  ul.menu-bar li ul li ul {
    background: #333333 !important;
  }

  ul.menu-bar li > ul {
    padding: 0;
  }

  ul.menu-bar li ul li .open-child {
    border-left-color: #3b3b3b;
  }

  ul.menu-bar li ul li,
ul.menu-bar li:hover ul li,
ul.menu-bar li:hover ul li ul li,
ul.menu-bar li:hover ul li:hover ul li {
    border-bottom: 1px solid #3b3b3b;
  }

  ul.menu-bar li ul:last-child li:last-child,
ul.menu-bar li:hover ul:last-child li:last-child,
ul.menu-bar li ul li ul li:last-child,
ul.menu-bar li:hover ul li:hover ul li:last-child {
    border-bottom: none;
  }

  ul.menu-bar li ul li a,
ul.menu-bar li:hover ul li a,
ul.menu-bar li ul li a,
ul.menu-bar li:hover ul li a,
ul.menu-bar li ul li ul li a,
ul.menu-bar li:hover ul li:hover ul li a ul.menu-bar li ul li ul li a,
ul.menu-bar li:hover ul li:hover ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 0 15px 0 30px;
    line-height: 50px;
  }

  ul.menu-bar li ul li ul li a,
ul.menu-bar li:hover ul li:hover ul li a {
    padding-left: 38px !important;
  }

  ul.menu-bar ul li ul li + li {
    border-top-color: #494949 !important;
  }

  ul.menu-bar ul li ul li {
    border-bottom-color: #2f2f2f !important;
  }
}
/**** Screen width smaller 600px for example iPhone 6 (portrait) ****/
@media only screen and (max-width: 600px) {
  /* #mobile-menu-trigger {
      font-size: 30px;
      right: 10px;
      width: 42px;
      line-height: 42px;
      text-align: center;
    } */
  /* #mobile-menu-trigger span {
      display: none;
    } */
  div.menuwrapper .menu-close button {
    line-height: 45px;
  }

  #Header .menuwrapper .menu-close:after {
    clear: both;
    display: block;
    content: " ";
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=menu.css.map*/

/*# sourceMappingURL=menu.css.map*/