.flexGrow {
  flex-grow: 2;
}

.bLeft {
  border-left: 1px solid black;
  height: 60px;
  margin-right: 2em;
}

.bRight {
  border-right: 1px solid black;
  height: 60px;
  margin-left: 2em;
  margin-right: 5em;
}
